{
  "presets": [
    "@wordpress/default",
    ["@babel/env", { "targets": { "node": 6 } }]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "wp.element.createElement"
    }],
    "lodash"
  ]
}